body {
    background-color: black;
    color: white;
    overflow-y: hidden;
}
  .container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;    
  }

.spinner {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation-name: ring;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    animation-name: typo;
    animation-duration: 2000ms;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    font-family: monospace;
}
@keyframes ring {
    0%{
        transform: rotate(-360deg);
        border-bottom: 2px solid yellow;
    }
    
    50% {
        border-bottom: 2px solid green;
    }

    75% {
        border-bottom: 2px solid blue;
    }

    100% {
        border-bottom: 2px solid orange;
    }
}
@keyframes typo {
    0% {
        color: yellow;
    }
    50% {
        color: green;
    }
    75% {
        color: blue;
    }
    100% {
        color: orange;
    }
}